{% extends 'base.html' %} {% block breadcrumb %}
<li class="breadcrumb-item active">Listado</li>
{% endblock %} {% block content %}

<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Listado de libros</strong>
      <small></small>
    </div>


    <div class="card-body">

      {% if records.count < 1 %}
      <div class="row">
        <div class="col-12 text-center">
          <h2>No hay libros</h2>
        </div>
      </div>

      {% else %}

        {% for record in records.all %}


          <div class="row">
            <div class="col-md-1 col-xs-1 text-center">
              <a href="{{record.ref_book.previewLink}}">
                    <img src="{{record.ref_book.imagen}}" alt="{{record.ref_book.title}}" class="rounded img-thumbnail" height="30px">
                  </a>
              <br/>
            </div>

            <div class="col-9 line-box-left">
              {{record.ref_book.title}} <small>{{record.ref_book.subtitle}}</small>

              {% for author in record.ref_book.ref_author.all %}
              <span class="badge badge-light">{{author}}</span>
              {% endfor %}

              {% for category in record.ref_book.ref_category.all %}
              <span class="badge badge-primary">{{category}}</span>
              {% endfor %}

            </div>
            <div class="col-2">
              action
            </div>


          </div>
        {% endfor %}

      {% endif %}





    </div>
  </div>
</div>

{% endblock %}
